*{
    box-sizing: border-box;
}

.screen {
    border: 2px solid beige;
}
.btn{
    background-color: beige;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}
.btn>span {
    position: relative;
    top: 1rem;
    font-weight: 500;
    user-select: none;
}

.btn:hover {
    opacity: 0.9;
}

.btn:active{
    opacity: 0.5;
}